{
  "openapi": "3.0.3",
  "info": {
    "title": "Collector API",
    "version": "1.2.1",
    "description": "API para registro, consulta e gestão de inadimplência veicular, incluindo autenticação, cancelamento, apreensão e averbação."
  },
  "servers": [
    {
      "url": "https://collector.zarv.com",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/v3/gps-signal": {
      "post": {
        "summary": "Dados de GPS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usuario": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 50
                  },
                  "senha": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 100
                  }
                },
                "required": ["usuario", "senha"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token JWT gerado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Acesso inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Você não tem permissão para acessar este recurso."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "in": "header",
        "description": "Token JWT para autenticação. O cabeçalho deve ser: `Authorization: Bearer {token}`"
      }
    },
    "schemas": {
      "Error400": {
        "description": "Erro de validação",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Dados inválidos. Verifique os campos obrigatórios."
                }
              }
            }
          }
        }
      },
      "Error401": {
        "description": "Acesso inválido",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Você não tem permissão para acessar este recurso."
                }
              }
            }
          }
        }
      },
      "Error404": {
        "description": "Registro não encontrado",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "Registro não encontrado."
                }
              }
            }
          }
        }
      },
      "NationalId": {
        "type": "string",
        "pattern": "^[0-9]{11,14}$",
        "description": "Número do CPF ou CNPJ, dependendo do contexto.",
        "minLength": 11,
        "maxLength": 14,
        "example": "12345678901"
      },
      "Email": {
        "type": "string",
        "format": "email",
        "description": "Formato de e-mail válido.",
        "minLength": 5,
        "maxLength": 100,
        "example": "email@server.com"
      },
      "Phone": {
        "type": "string",
        "pattern": "^\\+[1-9]\\d{1,14}$",
        "description": "Formato de telefone internacional, começando com o código do país.",
        "example": "+5511999999999",
        "minLength": 10,
        "maxLength": 15
      },
      "UUID": {
        "type": "string",
        "format": "uuid",
        "description": "Identificador único universal (UUID) para o registro.",
        "example": "123e4567-e89b-12d3-a456-426614174000"
      },
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "description": "Data e hora no formato ISO 8601 em UTC.",
        "example": "2025-01-01T00:00:00Z"
      },
      "Placa": {
        "type": "string",
        "pattern": "^[A-Z]{3}[0-9][0-9A-Z][0-9]{2}$",
        "description": "Formato da placa do veículo, considerando o padrão Mercosul.",
        "minLength": 7,
        "maxLength": 7,
        "example": "ABC1D23"
      },
      "Renavam": {
        "type": "string",
        "pattern": "^[0-9]{11}$",
        "description": "Número do Renavam do veículo, com 11 dígitos.",
        "minLength": 11,
        "maxLength": 11,
        "example": "12345678901"
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "ErroPadrao": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RegistroStatus": {
        "type": "string",
        "enum": ["ATIVO", "APREENSAO", "APREENDIDO", "CANCELADO", "TRANSFERIDO"]
      },
      "RegistroBase": {
        "type": "object",
        "properties": {
          "placa": {
            "$ref": "#/components/schemas/Placa"
          },
          "renavam": {
            "$ref": "#/components/schemas/Renavam"
          },
          "docProprietario": {
            "$ref": "#/components/schemas/NationalId"
          },
          "idContrato": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Identificador do contrato de financiamento ou leasing.",
            "example": "1234567890"
          },
          "docCredor": {
            "$ref": "#/components/schemas/NationalId"
          },
          "dataContrato": {
            "$ref": "#/components/schemas/DateTime"
          },
          "valorDebito": {
            "type": "number",
            "description": "Valor total do débito em atraso.",
            "example": 1500
          },
          "valorContrato": {
            "type": "number",
            "description": "Valor total do contrato de financiamento ou leasing.",
            "example": 200000
          },
          "parcelasAtraso": {
            "type": "integer",
            "description": "Número de parcelas em atraso.",
            "example": 3
          },
          "urlAtendimento": {
            "type": "string",
            "format": "uri",
            "description": "URL para atendimento ao cliente do credor fiduciário.",
            "example": "https://www.credor.com/atendimento"
          },
          "urlPagamento": {
            "type": "string",
            "format": "uri",
            "description": "URL para pagamento do débito.",
            "example": "https://www.credor.com/pagamento"
          },
          "observacoes": {
            "type": "string"
          },
          "dataCriacao": {
            "$ref": "#/components/schemas/DateTime"
          },
          "dataAtualizacao": {
            "$ref": "#/components/schemas/DateTime"
          }
        },
        "required": [
          "placa",
          "renavam",
          "docProprietario",
          "idContrato",
          "docCredor",
          "dataContrato",
          "valorDebito",
          "valorContrato",
          "parcelasAtraso",
          "urlAtendimento",
          "urlPagamento",
          "observacoes",
          "dataCriacao",
          "dataAtualizacao"
        ]
      },
      "Geolocalizacao": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude da localização do veículo.",
            "example": -23.55052
          },
          "longitude": {
            "type": "number",
            "description": "Longitude da localização do veículo.",
            "example": -46.633308
          }
        },
        "required": ["latitude", "longitude"],
        "description": "Geolocalização do veículo no momento da apreensão.",
        "example": {
          "latitude": -23.55052,
          "longitude": -46.633308
        }
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "cep": {
            "type": "string",
            "minLength": 8,
            "maxLength": 8,
            "description": "Formato do CEP, sem traços ou espaços.",
            "example": "12345678"
          },
          "logradouro": {
            "type": "string",
            "maxLength": 255,
            "description": "Nome da rua, avenida ou logradouro.",
            "example": "Rua das Flores"
          },
          "numero": {
            "type": "string",
            "maxLength": 10,
            "description": "Número do imóvel.",
            "example": "123"
          },
          "complemento": {
            "type": "string",
            "maxLength": 50,
            "description": "Complemento do endereço, como apartamento ou bloco.",
            "example": "Apto 101"
          },
          "bairro": {
            "type": "string",
            "maxLength": 100,
            "description": "Nome do bairro.",
            "example": "Centro"
          },
          "cidade": {
            "type": "string",
            "maxLength": 100,
            "description": "Nome da cidade.",
            "example": "São Paulo"
          },
          "estado": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "Sigla do estado, em formato ISO 3166-2.",
            "example": "SP"
          }
        }
      },
      "RegistroCompleto": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RegistroBase"
          },
          {
            "type": "object",
            "properties": {
              "idRegistro": {
                "type": "string",
                "format": "uuid",
                "description": "Identificador único do registro de inadimplência.",
                "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "status": {
                "$ref": "#/components/schemas/RegistroStatus",
                "example": "ATIVO"
              },
              "docCredorAgente": {
                "type": "string",
                "minLength": 14,
                "maxLength": 14
              },
              "imagensVeiculo": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                },
                "example": [
                  "https://example.com/imagem1.jpg",
                  "https://example.com/imagem2.jpg"
                ]
              },
              "descricaoApreensao": {
                "type": "string",
                "maxLength": 255
              },
              "localizacao": {
                "$ref": "#/components/schemas/Geolocalizacao"
              },
              "endereco": {
                "$ref": "#/components/schemas/Endereco"
              },
              "dataApreensao": {
                "type": "string",
                "format": "date-time"
              },
              "motivoCancelamento": {
                "type": "string"
              }
            }
          }
        ]
      }
    }
  }
}
